body{
    display:flex;
    flex-direction: column;
    text-align: center;
    background-color:rgb(243, 250, 248);
    
}

.introduction{
    padding: 5px;
    margin-top: 20px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

#js-start-quiz{
  position: relative;
  top: 40%;
  background-color: rgb(95, 245, 76);
  border: dotted, 2px, rgba(0, 0, 0, 0.301);
  font-size:22px;
  text-align: center;
  border-radius: 10px;
  height: 40px;
  width: 90px;
  cursor: pointer;
}

.mosquito{
    border: 2px black double;
    background-color:rgb(210, 255, 255);
    margin-right: auto;
    margin-left: auto;
    height: 250px;
    width: 360px;
    font-family: sans-serif;
    border-radius:4px;
    font-family: Arial, Helvetica, sans-serif;
}

.question-count{
    margin-top: 5px;
}

.countOfQuestions{
    position: fixed;
    font-size:18px;
    top: 10px;
    right: 15px;
    border-bottom: double 2px black;
    border-radius: 2px;
    background-color: rgb(250, 250, 250);
}

.answers{
    font-size:18px;
    margin: 10px;
    display:inline-block;
    border: 2px black double;
    background-color:rgb(252, 244, 236);
    word-wrap: break-word;
}
.answer-container{
    margin-right: auto;
    margin-left: auto;
    height: 200px;
    width: 300px;
    
}

.question{
    margin: 5px;
    padding:5px;
    font-size: 20px;
    border-bottom: 3px black dotted;
    border-right: hidden;
    border-left: hidden;
    margin-right: auto;
    margin-left: auto;
}

.questionButton{
    background-color: rgb(95, 245, 76);
    border: dotted, 2px, rgba(0, 0, 0, 0.301);
    font-size:22px;
    text-align: center;
    border-radius: 10px;
    height: 40px;
    width: 90px;
    cursor: pointer;
    /* position: relative;
    bottom: 0px; */
}

.continueButton{
    background-color: rgb(95, 245, 76);
    border: dotted, 2px, rgba(0, 0, 0, 0.301);
    font-size:22px;
    text-align: center;
    border-radius: 10px;
    height: 40px;
    width: 110px;
    cursor: pointer;
}

.correct{
    color: rgb(0, 25, 250);
    font-size: 26px;
    border-bottom: 1px black dotted;
}
.incorrect{
    font-size:26px;
    color: red;
    border-bottom: 1px black dotted;
}

.correctCount{
    color: rgb(0, 25, 250);
}

.incorrectCount{
    color: red;
}

.explanation{
    margin: 10px;
}

.restartButton{
  position: relative;
  top: 90px;
  background-color: rgb(95, 245, 76);
  border: dotted, 2px, rgba(0, 0, 0, 0.301);
  font-size:22px;
  text-align: center;
  border-radius: 10px;
  height: 40px;
  width: 110px;
  cursor: pointer;
  text-align: center;
  cursor: pointer;
}

.scoreScreen{
  position: relative;
  margin-right: auto;
  margin-left: auto;
  top: 20%;
  width: 120px;
  font-size: 25px;
  border: black 2px solid;
  border-radius: 10px;
  background-color:aliceblue;
}