body{
    display:flex;
    flex-direction: column;
    text-align: center;
    background-color:rgb(178, 228, 213);
}

#js-start-quiz{
  position: relative;
  top: 40%;
  background-color: antiquewhite;
  border: dotted, 2px, black;
  font-size:18px;
  text-align: center;
  border-radius: 2px;
  height: 40px;
  width: 90px;
}

.mosquito{
    /* display:flex; */
    border: 2px black double;
    background-color:aqua;
    margin-right: auto;
    margin-left: auto;
    height: 250px;
    width: 360px;
    font-family: sans-serif;
    /* justify-content: center; */
}

.question-count{
    margin-top: 5px;
    /* border: 1px solid black;
    border-radius: 1px;
    background-color:aqua; */
}

footer{
    position: absolute;
    font-size:18px;
    top: 400px;
    right: 41%;
    border: double 2px black;
    border-radius: 3px;
    background-color: rgb(250, 250, 250);
}

.answers{
    font-size:18px;
    margin: 5px;
    display:inline-block;
    border: 2px black double;
    background-color:rgb(252, 244, 236);
    width: 150px;
    height: 80px;
    word-wrap: break-word;
   
}
.answer-container{
    /* border: 1px black solid; */
    margin-right: auto;
    margin-left: auto;
    height: 200px;
    width: 300px;
    
}

.question{
    margin: 2px;
    border: 3px black dotted;
    border-right: hidden;
    border-left: hidden;
    background-color: bisque;
    margin-right: auto;
    margin-left: auto;
}

.correctCount{
    color: rgb(0, 25, 250);
}

.incorrectCount{
    color: red;
}

.restartButton{
  position: relative;
  top: 90px;
  background-color: antiquewhite;
  border: dotted, 2px, black;
  font-size:14px;
  text-align: center;
  border-radius: 2px;
  height: 40px;
  width: 90px;
}

.scoreScreen{
  position: relative;
  margin-right: auto;
  margin-left: auto;
  top: 20%;
  width: 120px;
  font-size: 25px;
  border: black 2px solid;
  border-radius: 10px;
  background-color:aliceblue;
}